* {
	box-sizing: border-box;
}

body, html {
	margin:0;
	padding:0;
}

body {
	background-image:url('../img/bg.jpg');
	overflow: scroll;
	background-size:cover;
	background-position: center center;
	height:100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.container {
    display: flex;
    width:100%;
    justify-content: center;
}

.content {
	padding:6px;
	border-image: linear-gradient(180deg, rgba(204,204,204,1) 0%, rgba(204,204,204,1) 75%, rgba(255,255,255,1) 100%) 25;
	border-width:0px 1px 0px 1px;
	border-style: solid;

	border-style:solid;
	width:675px;
	min-height:100%;
	background:#fff;
  display: table-cell;
  vertical-align: top;
  align:center;
}

.header {
	padding:12px;
}

.tab-content {
	padding:6px;
	min-height:530px;
}

.imageContainer div {
	display:none;
	position:absolute;
}

.stores {
	margin-top:12px;
	padding-left:6px;
}

.store-header {
	border-bottom:1px solid #eee;
	font-size:26px;
	background:#fff;
	color:#000;
	font-weight:bold;
}

.store-content {
	width:675px;
	margin-top:6px;
}


.space-around {
	display: flex;
	display: -webkit-box;
	display: -moz-box;

	justify-content:space-around;
	-webkit-justify-content:space-around;
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;

  	flex-wrap:nowrap;
	-webkit-flex-wrap:nowrap;
	-moz-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
}

.footer {
	border-top:1px solid #ccc;
	padding-top:12px;
}

.footer > div {
	padding:6px;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;

    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.clearfix {
  overflow: auto;
  zoom: 1;
  clear:both;
}